html {
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #333;
    background-color: #F5F1DE;

}

body {
	display: inline;
	text-align: center;
	background-color: #FAEBD7;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 100px;

}

.buttons, .credit {
	text-align: center;
}

.btn {
	width: 100px;
	position: relative;
}

.blue {
	box-shadow: 0 3px 0 #003366;
}

.blue:active {
	top: 3px;
	box-shadow: 0 0 0 #003366;
}

.green {
	box-shadow: 0 3px 0 #006400;
}

.green:active {
	top: 3px;
	box-shadow: 0 0 0 #006400;
}


.credit {
	margin-top: 50px;
	font-size:  20px;
	font-weight: 400;

}

.names {
	font-size:  15px;
	font-weight: 200;
	color: rgba(0, 0, 0, 0.5)
}

.buttons {
	margin-top: 50px;
}

.loader,
.loader:before,
.loader:after {
  background: #333;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #333;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

  .flat-table {
  	margin-left: 10px;
		margin-bottom: 10px;
		display: inline;
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;

	}
	.flat-table th, .flat-table td {
		box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
			inset 0 1px rgba(0,0,0,0.25);
	}
	.flat-table th {
		background-color: rgb(112, 196, 105);
		font-weight: normal;
		        text-align: center;
		-webkit-font-smoothing: antialiased;
		padding: .5em;
		color: rgba(0,0,0,0.45);
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
		font-size: 1.3em;
	}
	.flat-table td {
		background-color: rgb(238, 238, 238);
		color: #333;
		padding: 0.7em 1em 0.7em 1.15em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.2em;
	}
	.flat-table tr {

		-webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
	}
	.container {
		margin-top: 50px;
		        text-align: center;
		        
	}
	.flat-table-1 {
		background: #336ca6;
	}
	.flat-table-1 tr:hover {
		background: rgba(0,0,0,0.19);
	}
	.flat-table-2 tr:hover {
		background: rgba(0,0,0,0.1);
	}
	.flat-table-2 {
		background: #f06060;
	}
	.flat-table-3 {

		background: #52be7f;
	}
	.flat-table-3 tr:hover {
		background: rgba(0,0,0,0.1);
	}
		

		
